.m-user{
  display: flex;
  flex-direction: row;
}
.school-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 18px;
  position: relative;
  width: calc(100% - 2450px);
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);

  .form-title{
    font-size: 20px;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-body{
    height: 430px;
    .body-card{
      margin-bottom: 30px;
      //height: 430px;
    }
    .addCardStyle{
      //border: 1px dashed #bababa;
      border-radius: 8px;
      height: 430px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}

